/* 주석 깨짐 방지 */
@charset "utf-8";

.sr-only {
    position: absolute;
    left: -9999px;
}
#login-page {
    width: 500px;
    height: 240px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.logo-weniv {
    margin: 30px 0 36px 0;
}

.btn-login {
    display: inline-block;
    width: 440px;
    height: 60px;
    line-height: 60px;
    background: #2F80ED;
    border-radius: 5px;
    margin-top: 32px;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

/* login-form */

#login-form {
    width: 520px;
    height: 712px;
    padding: 20px 24px 25px 24px;
    background: white;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}