/* 주석 깨짐 방지 */
@charset "utf-8";

/* base */
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url(../font/SpoqaHanSansNeo-Regular.woff) format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url(../font/SpoqaHanSansNeo-Medium.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url(../font/SpoqaHanSansNeo-Bold.woff) format("woff");
    font-weight: 700;
}

body {
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

#appLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont-login {
    width: 500px;
    height: 240px;
    padding: 38px 30px 30px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.cont-login .tit-weniv {
    width: 122px;
    margin: 0 auto;
}

.cont-login .txt-login {
    margin: 32px 0 36px;
}

/* 모달 스타일 */
.modal-login {
    display: none;
    height: 100%;
}

.modal-login.on {
    display: block;
}

.modal-login::after {
    display: block;
    content: "";
    /* 전체화면에 쫙 펴진다 */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: .7;
    z-index: 10;
}

.modal-login .cont-form-login {
    width: 100%;
    max-width: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 20;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.cont-form-login .tit-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0 18px;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
}

.cont-form-login .txt-form {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 26px 0 24px;
    padding-left: 24px;
}

.cont-form-login .form-login {
    padding: 0 24px 0;
    text-align: center;
}

.form-login .inp-error {
    text-align: left;
}

.form-login .label-hold {
    display: block;
    text-align: left;
    margin: 17px 0 21px;
    cursor: pointer;
}

.form-login .label-hold::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-image: url(../images-login/check-box.png);
    vertical-align: -5px;
}

/* 접근성 */
.form-login .inp-hold:focus+.label-hold::before {
    outline: 2px solid black;
    /* outline-offset: outline에서 border까지 5px의 공간이 생김 */
    /* outline-offset: 5px; */
    border-radius: 50%;
}

.form-login .inp-hold:checked+.label-hold::before {
    background-image: url(../images-login/checked-box.png);
}

.form-login a[class^="link"] {
    display: inline-block;
    margin-top: 20px;
    line-height: 18px;
    font-size: 14px;
    color: #767676;
    text-decoration: none;
}

.form-login .link-signup::after {
    display: inline-block;
    content: "\007C";
    margin: 0 8px;
}

.cont-form-login .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 24px;
    box-sizing: content-box;
    background-color: transparent;
}

.cont-form-login .cont-sns-login {
    margin-top: 30px;
    padding: 30px 24px 25px;
    position: relative;
}

/* "또는" 의미가 없는 요소라고 생각해서 가상요소로 css에서만 처리 */
.cont-sns-login::before {
    position: absolute;
    content: '또는';
    display: block;
    width: 52px;
    height: 18px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    z-index: 10;
    text-align: center;
    color: #767676;
}

.cont-sns-login::after {
    content: "";
    display: block;
    /* 전체에서 양쪽 패딩값 빼주기 */
    width: calc(100% - 48px);
    position: absolute;
    top: 9px;
    height: 1px;
    background-color: #C4C4C4;
}

.cont-sns-login .list-sns li+li {
    margin-top: 10px;
}